@using BeOurGuest.Models;
@model RegUser;
<div class="edit">
    <h1 class="text-center">Edit Information</h1>
<form asp-action="EditUser" asp-controller="Swipe" method="post">
    <div class="form-group">
        <span style="color: red;" asp-validation-for="FName"></span>
        <label asp-for="FName" for="exampleInputEmail1">First Name:</label>
        <input asp-for="FName" value="@ViewBag.User.FName" type="text" class="form-control">
    </div>
    <div class="form-group">
        <span style="color: red;" asp-validation-for="LName"></span>
        <label asp-for="LName" for="exampleInputEmail1">Last Name:</label>
        <input asp-for="LName" value="@ViewBag.User.LName" type="text" class="form-control">
    </div>
    <div class="form-group">
        <span style="color: red;" asp-validation-for="Location"></span>
        <label asp-for="Location" for="exampleInputEmail1">Zip Code:</label>
        <input asp-for="Location" value="@ViewBag.User.Location" type="number" class="form-control">
    </div>
    <div class="form-group">
        <span style="color: red;" asp-validation-for="Price"></span>
        <label asp-for="Price" for="exampleInputEmail1">Preferred Price:</label>
        <input asp-for="Price" value="@ViewBag.User.Price" min="1" max="4" type="number" class="form-control">
    </div>
    <div class="form-group">
        <span style="color: red;" asp-validation-for="Email"></span>
        <label asp-for="Email" for="exampleInputEmail1">Email:</label>
        <input asp-for="Email" value="@ViewBag.User.Email" type="text" class="form-control">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <p class="text-center"><button type="submit" class="btn btn-primary">Register!</button></p>
</form>
</div>